.access {
    &__title {
        font-size: 26px;
        line-height: 38px;
        color: $white;
        text-transform: uppercase;
    }

    &__text {
    }

    &__platforms {
    }

    &__form {
    }
}
