.access {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-up(medium) {
        display: flex;
        flex-direction: column;
        background-color: $black;
        margin-left: 2.4375rem;
        margin-right: 0;
        padding-top: 5.8125rem;
        max-width: 39.6875rem;
        margin-bottom: 9.5625rem;
    }
    @include breakpoint-up(large) {
        max-width: 55.5rem;
        margin-bottom: 0;
        padding-left: 10.3125rem;
    }

    &__title {
        font-size: 1.625rem;
        line-height: 2.375rem;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 1rem;

        @include breakpoint-up(medium) {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1.9375rem;
        }

        @include breakpoint-up(large) {
            font-size: 3.25rem;
            line-height: 3.875rem;
            margin-bottom: 1.5rem;
        }
    }

    &__text {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        color: $lightGray;
        margin-bottom: 2.0625rem;

        @include breakpoint-up(medium) {
            margin-bottom: 2.5rem;
            max-width: 27.8125rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }
    &__platforms {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.4375rem;
        margin-bottom: 3rem;

        @include breakpoint-up(medium) {
            order: 2;
            margin-bottom: 0;
            max-width: 33.5rem;
        }
    }

    &__platform {
        flex: 1 1 auto;
        min-width: 0;
    }

    &__form {
        @include breakpoint-up(medium) {
            order: 1;
        }

        @include breakpoint-up(medium) {
            margin-bottom: 2.625rem;
        }
    }

    &__formContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        @include breakpoint-up(medium) {
            position: relative;
        }
    }

    &__email {
        background-color: $darkGray;
        border-radius: 1.75rem;
        border-style: none;
        color: white;
        flex: 1 1 auto;
        font-size: 0.875rem;
        font-weight: $bold;
        line-height: 1.75rem;
        padding-top: 0.5625rem;
        padding-bottom: 0.5625rem;
        padding-left: 2rem;
        margin-bottom: 1rem;

        &::placeholder {
            opacity: 50%;
        }

        @include breakpoint-up(medium) {
            max-width: 26.6875rem;
            padding-top: 0.875rem;
            padding-bottom: 0.875rem;
            padding-right: 12.4375rem;
            margin-bottom: 0.3125rem;
        }
    }

    &__btn {
        border-style: none;
        flex: 1 1 auto;
        background-color: $turquoise;
        font-size: 0.875rem;
        font-weight: $bold;
        line-height: 1.75rem;
        border-radius: 1.75rem;
        padding-top: 0.5625rem;
        padding-bottom: 0.5625rem;

        @include breakpoint-up(medium) {
            position: absolute;
            left: 16.25rem;
            top: 0.3125rem;
            max-width: 10.125rem;
            padding: 0.5625rem 1.6875rem;
        }
    }

    &__err {
        color: $error;
        font-size: 0.75rem;
        font-weight: $bold;
        margin-left: 2rem;
        opacity: 0;
    }
}

h1::first-line {
    color: $turquoise;
}

.show {
    opacity: 1;
}
