.footer {
    @include breakpoint-down(small) {
        display: none;
    }

    @include breakpoint-up(large) {
        position: relative;
        text-align: right;
    }

    &__img {
        @include breakpoint-up(medium) {
            margin-left: 30px;
            width: 232px;
            height: 104px;
        }

        @include breakpoint-up(large) {
            position: absolute;
            right: 0px;
            top: -67px;
        }
    }
}
