.footer {
    @include breakpoint-down(small) {
        display: none;
    }

    @include breakpoint-up(large) {
        position: relative;
        text-align: right;
    }

    &__img {
        @include breakpoint-up(medium) {
            margin-left: 1.875rem;
            width: 14.5rem;
            height: 6.5rem;
        }

        @include breakpoint-up(large) {
            position: absolute;
            right: 0rem;
            top: -3.875rem;
        }
    }
}
